<mat-card>
  <mat-card-header class="header-container">
    <mat-button-toggle-group [value]="status" #group="matButtonToggleGroup" class="toggle-container">
      <mat-button-toggle value="waiting">
        <mat-icon class="waiting-button">warning</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="error">
        <mat-icon class="error-button">error</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="done">
        <mat-icon class="done-button">check</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <h1 class="step-container">{{step}}</h1>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{desiredOutput}}
    </p>
  </mat-card-content>
</mat-card>
