<mat-accordion>
  <mat-expansion-panel class="case-accordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{case}}
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>{{statusIcon}}</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngFor="let testStep of testSteps" class="step-card-loop">
      <app-step-card
        class="step-card"
        [status]="testStep.status"
        [step]="testStep.step" 
        [desiredOutput]="testStep.desiredOutput"></app-step-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>